<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
   <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> --> <!-- for MySQL 5 -->
	    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>  <!-- for MySQL 8 -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbusiness</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456789</property>

 		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
           
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>             
    	<!--
     	 <property name="hbm2ddl.auto">create-drop</property>                        
         <property name="hbm2ddl.auto">update</property>   
         <property name="hbm2ddl.auto">none</property>    
        -->         
   
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
		
		<mapping resource="com/mimaraslan/model/Customer.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>